
<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
 	<div class="row">
	 	<div class="col-sm-4">
			<%= f.text_field :content, placeholder: "new Todo", :class=>"form-control" %>
		</div>
		<div class="col-sm-4">
			<%= f.text_field :deadline, placeholder: "deadline", :class=>"form-control" %>
		</div>
		<div class="col-sm-4">
			<%= f.submit :class=>"btn btn-primary btn-block" %></span>
		</div>
	</div>
 <% end %><br>