<section class="main-content-wrapper">
    <section id="main-content">
                <div class="row">
                		<h1>New Todo List</h1>

						<%= render 'form' %>

						<%= link_to 'Back', todo_lists_path %>
				</div>

  	</section>
</section>