<section class="main-content-wrapper">
    <section id="main-content">
        <div class="row">
        	<div class="col-md-6">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                	<h3>Edit Indicators</h1>
	                </div>
	                <div class="dashboard-tile detail tile">
	                	
							<%= render 'indicators/form' %>
	                	
	                </div>
	            </div>		
	        </div>                              
        </div>
							
    </section>
</section>


							                 